{% extends "layouts/base.html" %}

{% block title %}Tax Credit Policy Modeling{% endblock %}

{% block content %}
<div class="h-screen flex flex-col">
    <div class="w-full bg-slate-300">
        <h1 class="text-3xl font-thin py-4 px-4 text-gray-800">Green Hydrogen Modelling</h1>
    </div>
    <div class="grow flex flex-col justify-center items-center gap-y-2">
        <p>Logged out</p>
        <a href="/" class="h-10 bg-blue-600 w-48 rounded-sm text-center font-semibold text-white px-4 py-2">
            Login
        </a>
    </div>
</div>
{% endblock %}
