{% extends "layouts/base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block title %}Tax Credit Policy Modeling{% endblock %}

{% block content %}
<div>
    <h1 class="text-3xl font-bold underline">Create Simulation</h1>
    <form hx-post="/create_electrolyzer">
        <label for="replacement_threshold">Replacement Threshold</label>
        <input name="replacement_threshold" />
        <label for="degredation_rate">Degredation Rate</label>
        <input name="degredation_rate" />
        <label for="cacpacity_mw">Capacity MW</label>
        <input name="capacity_mw" />
        <label for="capex">Capex</label>
        <input name="capex" />
        <label for="opex">Opex</label>
        <input name="opex" />
        <label for="replacement_cost">Replacement Cost</label>
        <input name="replacement_cost" />
        <label for="production_method.production_type">Production Type</label>
        <input value="Constant" name="production_method.production_type" />
        <label for="production_method.conversion_rate_constant">Production Rate</label>
        <input name="production_method.conversion_rate_constant" />
        <button type="submit">
            Create
        </button>
    </form>
    <form hx-post="/execute_simulation">
        <select hx-swap="outerHTML" disabled hx-get="/list_electrolyzers" hx-trigger="electrolyzer_created from:body" name="electrolyzer_id">
        </select>
        <label for="simulation_time_range.start.seconds">Start Seconds</label>
        <input name="simulation_time_range.start.seconds" />
        <label for="simulation_time_range.start.nanos">Start Nanos</label>
        <input name="simulation_time_range.start.nanos" />
        <label for="simulation_time_range.end.seconds">Start Seconds</label>
        <input name="simulation_time_range.end.seconds" />
        <label for="simulation_time_range.end.nanos">Start Nanos</label>
        <input name="simulation_time_range.end.nanos" />
        <button type="submit">Execute Simulation</button>
    </form>
</div>
{% endblock %}
