{% extends "layouts/base.html" %}

{% block head %}
<script async defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script async defer src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block title %}Tax Credit Policy Modeling{% endblock %}

{% block content %}
<div class="container mx-auto flex">
    <div class="w-1/4 bg-slate-200 px-4 py-2">
        <h1 class="text-3xl font-bold underline">Electrolyzer Details</h1>
        {% if electrolyzer_details.as_ref().is_none() %}
        <p>No Electrolyzer selected</p>
        {% else %}
        {{ electrolyzer_details.unwrap()|safe }}
        {% endif %}
    </div>

    <div class="w-3/4 bg-slate-200 px-4 py-2">
        <h1 class="text-3xl font-bold underline">Execute Simulation</h1>
        {% if simulation_form.is_none() %}
        <a class="border border-white px-4 py-2" href="/create_electrolyzer">Electrolyzer</a>
        {% else %}
        {{ simulation_form.as_ref().unwrap()|safe }}
        {% endif %}
    </div>
</div>
{% endblock %}
