<div id="electrolyzer-selector" hx-trigger="change" hx-target="#sidebar" hx-post="{{ endpoint }}"
    hx-swap="innerHTML">
    <label for="electrolyzer-select">Electrolyzer</label>
    <br />
    {{ select_electrolyzer_listener|safe }}
    <select class="border h-7" name="electrolyzer_id">
        {% for electrolyzer in electrolyzers %}
        {% if electrolyzer.id == selected_id %}
        <option selected value="{{ electrolyzer.id }}">{{ electrolyzer.name }}</option>
        {% else %}
        <option value="{{ electrolyzer.id }}">{{ electrolyzer.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
