<form class="flex items-center flex-col h-full w-full relative">
    {{ list_simulations_listener|safe }}
    {{ select_simulation_listener|safe }}
    {{ electrolyzer_id_input|safe }}
    <div class="p-4 flex items-center w-full">
        <div class="flex items-center px-2 mr-2 cursor-pointer rounded-full hover:bg-gray-300 h-8 w-8"
            hx-post="{{ endpoint }}" hx-trigger="click" hx-target="#sidebar" hx-swap="innerHTML">
            {{ left_arrow_icon|safe }}
        </div>
        <div class="flex gap-x-4 w-full items-center">
            <div class="w-10 h-10">
                {{ state_icon|safe }}
            </div>
            <span class="text-xl">{{ electrolyzer.name }}</span>
            <span class="bg-gray-300 rounded-full px-2 py-1 text-sm">
                {{ electrolyzer.city }}, {{ electrolyzer.state }}
            </span>
            {% match state %}
            {% when ElectrolyzerDetailsState::Selected with (selected_badge) %}
            {{ selected_badge|safe }}
            {% when ElectrolyzerDetailsState::Unselected %}
            {% when ElectrolyzerDetailsState::Default %}
            {% endmatch %}
        </div>
    </div>
    <div class="px-2 py-4 w-full grow">
        <div class="w-full px-4 py-2 hover:bg-gray-200">
            <div class="flex justify-between">
                <h2 class="font-medium">Replacement Threshold</h2>
                {{ replacement_threshold_badge|safe }}
            </div>
            <p>{{ electrolyzer.replacement_threshold }}</p>
        </div>
        <div class="px-4 py-2 hover:bg-gray-200">
            <div class="flex justify-between">
                <h2 class="font-medium">Degradation Rate</h2>
                {{ degradation_rate_badge|safe }}
            </div>
            <p>{{ electrolyzer.degradation_rate }}</p>
        </div>
        <div class="px-4 py-2 hover:bg-gray-200">
            <div class="flex justify-between">
                <h2 class="font-medium">Capacity</h2>
                {{ capacity_badge|safe }}
            </div>
            <p>{{ electrolyzer.capacity_mw }}</p>
        </div>
        <div class="px-4 py-2 hover:bg-gray-200">
            <h2 class="font-medium">Production Method</h2>
            <p>Constant</p>
        </div>
        <div class="px-4 py-2 hover:bg-gray-200">
            <div class="flex justify-between">
                <h2 class="font-medium">Production Rate</h2>
                {{ conversion_rate_badge|safe }}
            </div>
            <p>{{ electrolyzer.production.conversion_rate }}</p>
        </div>
        <div class="px-4 py-2 hover:bg-gray-200">
            <div class="flex justify-between">
                <h2 class="font-medium">Capex</h2>
                {{ capex_badge|safe }}
            </div>
            <p>{{ electrolyzer.capex }}</p>
        </div>
        <div class="px-4 py-2 hover:bg-gray-200">
            <div class="flex justify-between">
                <h2 class="font-medium">Opex ($/hr)</h2>
                {{ opex_badge|safe }}
            </div>
            <p>{{ electrolyzer.opex }}</p>
        </div>
        <div class="px-4 py-2 hover:bg-gray-200">
            <div class="flex justify-between">
                <h2 class="font-medium">Replacement Cost</h2>
                {{ replacement_cost_badge|safe }}
            </div>
            <p>{{ electrolyzer.replacement_cost }}</p>
        </div>
    </div>
    <div class="sticky w-full bottom-0 py-4 left-0 flex justify-center bg-gray-200">
        {{ select_electrolyzer_button|safe }}
    </div>
</form>
