<div class="sticky z-10 top-0 w-full flex items-center gap-x-2 justify-between bg-gray-200">
    {{ create_electrolyzer_listener|safe }}
    <form class="flex gap-4 justify-evenly items-center w-full bg-slate-100 px-4">
        <div class="py-2">
            {{ electrolyzer_selector|safe }}
        </div>
        <div class="py-2">
            <label for="simulation_time_range.start">Start Datetime</label>
            <br />
            <input type="datetime-local" class="border h-7" id="simulation_time_range.start" step="900"
                min="{{ generation_range.start }}" max="{{ generation_range.end }}"
                name="simulation_time_range.start" />
        </div>
        <div class="py-2">
            <label for="simulation_time_range.end">End Datetime</label>
            <br />
            <input type="datetime-local" class="border h-7" id="simulation_time_range.end" step="900"
                min="{{ generation_range.start }}" max="{{ generation_range.end }}" name="simulation_time_range.end" />
        </div>
        <div class="grow"></div>
        {{ list_simulation_button|safe }}
        {{ simulate_button|safe }}
    </form>
</div>
<div id="simulation-result" class="grow">
    <div class="h-full flex items-center justify-center">
        <p class="text-lg font-bold">No recent simulation. Use the bar above to start a new simulation</p>
    </div>
</div>
