<form class="w-full h-full flex flex-col" hx-post="/create_electrolyzer" hx-target="#sidebar" hx-swap="innerHTML">
    <div class="sticky top-0 p-4 cursor-pointer flex items-center" hx-post="/list_electrolyzers" hx-trigger="click"
        hx-target="#sidebar" hx-swap="innerHTML">
        <svg width="17" height="16" viewBox="0 0 17 16" class="fill-black" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M16.8333 7H4.15621L9.97913 1.41L8.49996 0L0.166626 8L8.49996 16L9.96871 14.59L4.15621 9H16.8333V7Z" />
        </svg>
        <h1 class="px-4 text-lg text-center">New Electrolyzer</h1>
    </div>
    <div class="flex grow flex-col">
        <div class="p-4">
            <label for="name">Name</label>
            <input placeholder="Name" autocomplete="name" class="border" id="name" name="name" />
        </div>
        <div class="p-4">
            <label for="replacement_threshold">Replacement Threshold</label>
            <input value="0" class="border" id="replacement_threshold" name="replacement_threshold" />
        </div>
        <div class="p-4">
            <label for="degredation_rate">Degredation Rate</label>
            <input value="0" class="border" id="degredation_rate" name="degredation_rate" />
        </div>
        <div class="p-4">
            <label for="capacity_mw">Capacity MW</label>
            <input value="0" class="border" id="capacity_mw" name="capacity_mw" />
        </div>
        <div class="p-4">
            <label for="capex">Capex</label>
            <input value="0" class="border" id="capex" name="capex" />
        </div>
        <div class="p-4">
            <label for="opex">Opex</label>
            <input value="0" class="border" id="opex" name="opex" />
        </div>
        <div class="p-4">
            <label for="replacement_cost">Replacement Cost</label>
            <input value="0" class="border" id="replacement_cost" name="replacement_cost" />
        </div>
        <div class="p-4">
            <label for="production-selector">Production Type</label>
            <select class="border" id="production-selector" value="Constant" name="production_method.production_type">
                <option>Constant</option>
            </select>
        </div>
        <div class="p-4">
            <label for="production_method.conversion_rate_constant">Production Rate</label>
            <input value="0" class="border" id="production_method.conversion_rate_constant"
                name="production_method.conversion_rate_constant" />
        </div>
    </div>
    <div class="sticky bottom-0 w-full flex justify-center bg-gray-200 py-4">
        <button type="submit"
            class="h-10 bg-blue-600 w-48 rounded-sm text-center font-semibold text-white px-4 py-2">Create
            Electrolyzer</button>
    </div>
</form>
