<div id="electrolyzer-selector" hx-trigger="electrolyzer-selected from:body" hx-post="/electrolyzer_selector"
    hx-swap="outerHTML" hx-target="#electrolyzer-selector">
    <label for="electrolyzer-select">Electrolyzer</label>
    <br />
    <select hx-target="#sidebar" hx-post="/select_electrolyzer" hx-swap="innerHTML" name="electrolyzer_id"
        id="electrolyzer-select">
        {% for electrolyzer in electrolyzers %}
        {% if electrolyzer.id == selected_id %}
        <option selected value="{{ electrolyzer.id }}">{{ electrolyzer.name }}</option>
        {% else %}
        <option value="{{ electrolyzer.id }}">{{ electrolyzer.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
