<p>Simulation Complete</p>
<div>
    <table>
        <tr>
            <td>Hours At Max Value</td>
            <td>{{ simulation_result.tax_credit_summary.credit_hours_full }}</td>
        </tr>
        <tr>
            <td>Hours At 33% Value</td>
            <td>{{ simulation_result.tax_credit_summary.credit_hours_33 }}</td>
        </tr>
        <tr>
            <td>Hours At 25% Value</td>
            <td>{{ simulation_result.tax_credit_summary.credit_hours_25}}</td>
        </tr>
        <tr>
            <td>Hours At 20% Value</td>
            <td>{{ simulation_result.tax_credit_summary.credit_hours_20 }}</td>
        </tr>
        <tr>
            <td>Hours At No Value</td>
            <td>{{ simulation_result.tax_credit_summary.credit_hours_none }}</td>
        </tr>
    </table>
</div>
<button class="border border-white px-4 py-2" hx-target="closest form" hx-swap="outerHTML" hx-get="/simulation_form">Run
    New Simulation</button>

<div>{{ simulation_result.emissions|safe }}</div>
<div>{{ simulation_result.hydrogen_productions|safe }}</div>
<div>{{ simulation_result.energy_costs|safe }}</div>
